body {
  font-family: "Open Sans", sans-serif;
  background: white;
  margin: 0px;
  padding: 0px;
}

.ex
{
  z-index: 999;
  width: 100%;
}

#nav
{
  background: #304269;
  height: 50px;
  width: 100%;
  padding: 0px;
  text-align: center;
  z-index: 999;
}

#header
{
  display: flex;
  height: 100px;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 1px 1px 1px black;
  padding: 0px;
  margin: auto;
}

#tabs
{
  list-style-type:none;
  margin: 0px;
  overflow: hidden;
}

#tabs li
{
  display: inline-block; 
  color: white;
}

#tabs li a
{
  display: block;
  color:white;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  
}

#tabs li a:hover
{
  background: #1D2840;
}
#tabs li a:active
{
  background: #1D2840;
}

#content
{
  width: 600px;
}

.id
{
  display: inline;
}

#div1
{
  width="30%";
  background="red";
}

#div2
{
  width="30%";
  background="blue";
}
